---
import Layout from '../../layouts/layout.astro'
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogPostingJSONLD from "../../components/BlogPostingJSONLD.astro";
const { title, description, date } = Astro.props;
export async function getStaticPaths(){
    const blogPosts = await getCollection("blog", ({data}) => {
return !data.draft && data.date < new Date()
 });
    
    return blogPosts.map((post) => ({
        params: {slug: post.slug},
        props: { post},
    }));
}

interface Props {
    post: CollectionEntry<"blog">;
}
const { post } = Astro.props;

const { Content } = await post.render();
console.log("Post Data:", post);
---
<Layout title={post.data.title} description={post.data.description} date={post.data.date} author={post.data.author}>
    <head>
    <title>{post.data.title}</title>
    <meta name="description" content={post.data.description} />
    <BlogPostingJSONLD slot="head" title={post.data.title} description={post.data.description} date={post.data.date} />
  </head>
    <div
        class="gradient-text text-left font-extrabold tracking-tighter text-8xl"
      >
<h1>{post.data.title}</h1>
</div>
<h2>{post.data.stringDate}</h2>
<h2>{post.data.author}</h2>
<div 
class="prose lg:prose-xl prose-headings:text-blue-600 prose-p:text-pink-400 prose-li:text-white"
>
<Content />
</div>
</Layout>

