---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog", ({ data }) => {
  return !data.draft && data.date < new Date();
});
const { post } = Astro.props;
---

<head>
  <meta name="generator" content={Astro.generator} />
</head>

<body>
  <div class="container mx-auto p-4">
    <h1 class="gradient-text font-extrabold tracking-tighter text-6xl mb-4">Blog Posts</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {blogPosts.map((post, index) => (
        <div class="bg-white rounded-md shadow-md p-4" key={`post-${index}`}>
          <div
            class="gradient-text text-left font-extrabold tracking-tighter text-6xl"
          >
            {post.data.title}
          </div>
          <p class="text-gray-600">{post.data.description}</p>
          <a class="text-blue-500 font-semibold hover:underline" href={`/blog/${post.slug}`}>
            Read Post
          </a>
        </div>
      ))}
    </div>
  </div>
</body>
